<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>STOPWATCH</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type='text/css' href="../public/stylesheets/styles.css" media="screen">
  <link rel="stylesheet" type='text/css' href="../public/stylesheets/animations.css" media="screen">
</head>

<body>
  <div class="pulse"></div>
  <div class="shut"></div>
    <div id="stopWatch">
      <div class="time">
        <div>
          <span>0</span><span>0</span>:<span>0</span><span>0</span>.<span>0</span><span>0</span>
        </div>
      </div>
      <div class="bt">
        <button class="start" type="button" name="START">START</button>
        <button class="para" type="button" name="STOP">STOP</button>
        <button class="reset" type="button" name="STOP">RESET</button>
      </div>
    </div>

  <!-- SCRIPTS DEPENDANCIES -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="../public/javascripts/app.js"></script>

</body>
</html>
